@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$white: #FFFFFF;
$off_white: #F7F7F7;
$off_white_2: #F5F7FA;
$white_input: #D9DBE1;
$black: #000000;
$black2: #18191F;
$black3: #263238;
$off_black: #676767;
$grey_dark: #4D4D4D;
$grey_light: #717171;
$grey_input: #515B60;
$grey_light: #94A3B8;
$grey_box: #ABBED1;
$green: #4CAF4F;
$blue_dark: #0F172A;
$blue_light: #1A2232;
$purple_dark: #581C87;
$purple_medium: #6B21A8;
$purple: #9333EA;
$purple_light: #C084FC;
$off_purple: #F3E8FF;
$red: #C2410C;
$pink: #BE185D;